home {
  margin: 0;
  /* background: #07116e; */
  background: grey;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  