body {
  background: white;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(24, 24, 24);
}

resume {
  position: relative;
  top: 60px;
  bottom: 0px;
  background: white;
}

.resume-title { 
  font-variant: small-caps;
  text-align: center;

  border-bottom: solid;
  border-width: 1px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}